* {
  box-sizing: border-box;
  padding: 0; }

html {
  font-size: 62.5%;
  /*1rem = 10px*/
  font-family: "Calibri";
  background-image: url(../img/prism.png);
  background-blend-mode: hard-light;
  background-color: #119cd367; }

ul {
  list-style: none; }

li {
  text-decoration: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

/*--------------------NAV*--------------------*/
.nav {
  grid-area: nav; }

#logo {
  grid-area: logo;
  width: 65%;
  margin: 0.5rem 0rem;
  width: 100px;
  justify-self: left !important; }

#lineas {
  display: none;
  grid-area: lineas; }

#menu {
  display: grid;
  grid-template-columns: .5fr 2fr 10fr;
  grid-template-areas: "logo lineas nav";
  border-bottom: solid #1cb056 0.1rem;
  background-color: #161616;
  justify-items: right;
  align-items: center;
  width: 100%;
  padding: 1.2rem 0rem; }
  #menu ul {
    display: flex;
    margin-right: 2rem; }
    #menu ul li:nth-child(6) a {
      color: #1af322; }
    #menu ul li a {
      color: #1cb056;
      display: block;
      padding: 1.8rem 1.5rem;
      font-size: 3.3rem;
      margin: 0rem 0.7rem; }
    #menu ul a:hover {
      color: #119cd3;
      border-radius: .4rem;
      background-color: rgba(255, 255, 255, 0.048); }

#input_logo {
  display: none; }

/*                       Media screen                  NAV                */
@media screen and (max-width: 1430px) {
  #menu ul li a {
    font-size: 2.2rem;
    margin: .3rem;
    padding: 1.2rem .6rem; } }

@media screen and (max-width: 1100px) {
  #menu {
    padding: 1.2rem 0rem; }
    #menu ul li a {
      font-size: 1.4rem;
      padding: .4rem;
      margin: 0.2rem .7rem; }
  #logo {
    min-width: 100px; } }

@media screen and (max-width: 950px) {
  #menu {
    padding: 1.2rem 0rem; }
    #menu ul li a {
      padding: .4rem;
      margin: 0.2rem .7rem; }
  #logo {
    min-width: 100px; } }

@media screen and (max-width: 767px) {
  #menu, .nav {
    align-items: center;
    padding-bottom: 2rem;
    display: grid;
    grid-template-areas: "logo menu" "ul  ul";
    grid-template-columns: repeat(2, auto); }
    #menu #logo, .nav #logo {
      grid-area: logo;
      justify-self: center !important; }
    #menu label, .nav label {
      margin-right: 2rem;
      width: 4rem;
      height: 4rem; }
    #menu ul li, .nav ul li {
      padding: .4rem;
      margin: 0.2rem; }
    #menu ul, .nav ul {
      display: none;
      padding-bottom: 0;
      grid-area: ul;
      justify-self: center; }
    #menu ul li a, .nav ul li a {
      padding: .4rem 3rem;
      border-radius: 2rem; }
    #menu input:checked ~ ul, .nav input:checked ~ ul {
      display: flex;
      flex-direction: column; }
  #lineas {
    display: block;
    justify-self: center;
    grid-area: menu; } }

/*                       ---------------------------                    */
/*--------------------INGRESAR--------------------*/
#form_section {
  margin-top: 18rem;
  display: grid;
  grid-template-areas: "none form none"; }

.form {
  /*  DIV DEL FORM    */
  grid-area: form;
  width: 50rem;
  height: 40rem;
  border: solid #119cd3 .2rem;
  background-color: #1d363f;
  border-radius: 2rem; }
  .form form {
    /*  FORMULARIO    */
    display: flex;
    flex-direction: column;
    row-gap: .7rem;
    align-items: center; }
  .form p {
    /*  INICIAR SESION     */
    text-align: center;
    font-size: 3.3rem;
    margin: 3rem 0rem;
    color: #158140;
    font-weight: bolder; }
  .form input {
    /*  INGRESAR DATOS, FORM     */
    width: 90%;
    padding: 1rem;
    background: none;
    font-size: 2.2rem;
    border: solid;
    border-color: #119cd3;
    border-radius: .7rem;
    color: #119cd3; }

#enviarForm {
  /*  BOTON INGRESAR     */
  margin-top: 1.4rem;
  background-color: #0b6285;
  border: hidden;
  color: black; }

/*                      Media screen               CUENTA                */
@media screen and (max-width: 524px) {
  #form_section {
    justify-content: center; }
  .form {
    width: 35rem;
    height: auto; } }

/*                       ---------------------------                     */
/*--------------------INDEX / HOME--------------------*/
.eslogan {
  display: grid;
  grid-template-columns: 1.3fr 2fr;
  grid-template-rows: 0.1fr 1fr;
  grid-template-areas: "nombre imagen" "eslogan imagen";
  background-color: rgba(0, 0, 0, 0.247);
  padding: 5rem 0rem; }
  .eslogan h1 {
    /*GemGym */
    font-size: 6.3rem;
    color: #1cb056;
    grid-area: nombre;
    margin-left: 3rem; }
  .eslogan h2 {
    /*Encontramos tu valor*/
    font-size: 3.3rem;
    color: #119cd3;
    grid-area: eslogan;
    margin-left: 6rem; }
  .eslogan img {
    /*frase motivadora*/
    border: solid 0.2rem;
    grid-area: imagen; }

.descripcion_p {
  display: flex;
  flex-direction: column;
  color: #bdcad4;
  margin: 8rem 30rem;
  text-align: center;
  gap: 5em; }

.descripcion_p1 {
  /*parrafo largo abajo de la imagen*/
  font-size: 2.2rem; }

.descripcion_p2 {
  /*parrafo para inscribirse*/
  font-size: 2.2rem;
  font-weight: bolder; }

.descripcion_img {
  /* Div Imagenes y Subtitulos*/
  margin-top: 10rem;
  display: grid;
  grid-template-areas: "cardio staff prensa";
  justify-items: center;
  row-gap: 1rem;
  column-gap: 0.8rem;
  margin: 0rem 1rem;
  color: #bdcad4; }
  .descripcion_img img {
    /*imagenes de los sectores*/
    width: 100%;
    height: 100%;
    border: solid 0.2rem black; }
  .descripcion_img p {
    text-align: center;
    font-size: 2.2rem; }

.staff {
  grid-area: staff; }

.cardio {
  grid-area: cardio; }

.prensa {
  grid-area: prensa; }

/*                       Media screen            INDEX                  */
@media screen and (max-width: 1024px) {
  .eslogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    .eslogan h1 {
      /*GemGym */
      font-size: 3.3rem;
      color: #1cb056;
      grid-area: nombre; }
    .eslogan h2 {
      /*Encontramos tu valor*/
      font-size: 3.3rem;
      color: #119cd3;
      grid-area: eslogan; }
  .index_hr {
    margin: 0rem;
    width: 100%; }
  .descripcion {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .descripcion_p {
    margin: 7rem 3rem; }
  .descripcion_img {
    display: grid;
    grid-template-areas: "staff prensa" "cardio cardio";
    grid-template-rows: repeat(2, 400px); }
    .descripcion_img div img {
      width: 90%;
      height: 90%; }
    .descripcion_img div p {
      font-size: 2.2rem;
      margin-bottom: 8rem; }
  .staff {
    grid-area: staff;
    max-height: 30rem; }
  .prensa {
    grid-area: prensa;
    max-height: 30rem; }
  .cardio {
    grid-area: cardio;
    max-width: 60rem; } }

@media screen and (max-width: 767px) {
  .eslogan {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .eslogan h1 {
      font-size: 5rem;
      margin-bottom: 0.2rem; }
    .eslogan h2 {
      margin-bottom: 2rem;
      font-size: 3.3rem; }
  .descripcion_p {
    margin: 6rem 3rem; }
  .descripcion_p1, .descripcion_p2 {
    font-size: 2.2rem; }
  .descripcion_img {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    align-items: center;
    justify-items: center;
    row-gap: 3rem; }
    .descripcion_img div img {
      max-width: 50rem; }
    .descripcion_img div p {
      margin-bottom: 3rem;
      font-size: 2.2rem;
      margin-bottom: 1rem; } }

/*                      ---------------------------                     */
/*--------------------PRESENTACION OTRAS PAGS--------------------*/
.cabecera_pag {
  display: grid;
  grid-template-areas: "gem . " "eslogan  nombre";
  grid-template-columns: 1fr  1fr;
  width: 100%; }
  .cabecera_pag h1 {
    grid-area: gem;
    font-size: 5rem;
    color: #1cb056; }
  .cabecera_pag p {
    font-size: 3.3rem;
    color: #119cd3;
    grid-area: eslogan;
    transform: translatex(10%); }
  .cabecera_pag h2 {
    font-size: 5rem;
    grid-area: nombre;
    color: white;
    font-weight: bold;
    justify-self: right; }

/*                       Media screen            Cabecera Pags                  */
@media screen and (max-width: 767px) {
  .cabecera_pag h2 {
    font-size: 3.3rem; }
  .cabecera_pag h1 {
    font-size: 5rem; }
  .cabecera_pag p {
    font-size: 2.2rem; } }

/*                      ---------------------------                     */
/*--------------------Galeria--------------------*/
.galeria_img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 3rem;
  column-gap: 1rem;
  justify-items: center; }
  .galeria_img img {
    width: 60rem;
    height: 40rem; }

/*                      Media screen             GALERIA                  */
@media screen and (max-width: 1024px) {
  .galeria_img {
    width: auto;
    height: auto;
    column-gap: 1rem;
    margin: 0rem 1rem; }
    .galeria_img img {
      width: 40rem;
      height: 28rem; } }

@media screen and (max-width: 767px) {
  .galeria_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 0rem 1rem; } }

/*                        ---------------------------                     */
/*--------------------Sedes--------------------*/
#mapas {
  display: flex;
  flex-direction: column;
  row-gap: 10rem; }

.info_mapa {
  width: 100%;
  margin-top: 2rem;
  display: grid;
  grid-template-areas: "info mapa";
  border-top: solid 1px #5dbeb9;
  border-bottom: solid 1px #5dbeb9;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: center;
  background-color: rgba(255, 255, 255, 0.089); }

.iframe_mapa {
  grid-area: mapa;
  width: 67rem;
  height: 38rem;
  border-radius: 1rem;
  margin: 1rem 15rem 1rem 0rem;
  justify-self: right; }

.ul_mapa {
  grid-area: info;
  color: white; }
  .ul_mapa li {
    margin-left: 5rem;
    font-size: 2.2rem; }
  .ul_mapa li:not(:last-of-type) {
    margin-bottom: 2rem; }
  .ul_mapa h2 {
    font-size: 5rem; }

/*                   Media screen               SEDES                */
@media screen and (max-width: 1380px) {
  .iframe_mapa {
    margin: 1rem 2rem; } }

@media screen and (max-width: 1115px) {
  .ul_mapa li {
    margin: 0;
    margin-left: 2rem; }
    .ul_mapa li h2 {
      font-size: 3.3rem;
      margin-bottom: 3rem; }
  .iframe_mapa {
    width: 47rem;
    height: 23rem;
    margin: 0;
    margin-right: 1rem; } }

@media screen and (max-width: 767px) {
  .ul_mapa li {
    font-size: 1.4rem;
    margin: .5rem; }
  .ul_mapa h2 {
    font-size: 2.2rem; }
  .iframe_mapa {
    width: 37rem;
    height: 20rem;
    margin: 0; } }

@media screen and (max-width: 630px) {
  .info_mapa {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center; }
  .ul_mapa li {
    margin: .1rem; }
  .iframe_mapa {
    width: 80%;
    margin: 0rem auto;
    margin-bottom: 1rem; } }

/*                       ---------------------------                    */
/*---------------Actividades--------------*/
.img_actividades {
  overflow: hidden;
  width: 50%;
  margin: auto;
  border: solid #1fc227; }
  .img_actividades ul {
    display: flex;
    width: 300%;
    animation: slide 6s infinite alternate;
    padding: 0;
    margin: 0; }
    .img_actividades ul li {
      width: 100%; }

@keyframes slide {
  0% {
    margin-left: 0; }
  33% {
    margin-left: 0; }
  38% {
    margin-left: -100%; }
  68% {
    margin-left: -100%; }
  71% {
    margin-left: -200%; }
  100% {
    margin-left: -200%; } }

#carruseles {
  margin-bottom: 10rem; }

#carrusel_actividad {
  background-color: #1095ca31;
  border: solid 1px; }

.texto_actividades, .sedes_actividad {
  margin: auto; }

.titulo_actividad {
  font-size: 5rem;
  color: white; }

.sedes_actividad {
  color: white; }
  .sedes_actividad ul {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    font-size: 2.2rem;
    margin-top: 2rem; }

/*                       Media screen             ACTIVIDADES                 */
@media screen and (max-width: 767px) {
  #carruseles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center; }
  .sedes_actividad ul {
    row-gap: 1.4rem;
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: .5rem; }
  .titulo_actividad {
    font-size: 3.3rem;
    margin-top: 1rem;
    margin-bottom: 0;
    display: flex;
    justify-content: center; }
  #carrusel_actividad {
    width: 95%;
    margin-bottom: 3rem; }
  .img_actividades {
    width: 95%;
    margin-bottom: 1rem;
    margin-top: 1rem; } }

@media screen and (max-width: 560px) {
  #carruseles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem; }
  .sedes_actividad ul {
    row-gap: 1.4rem;
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1rem; }
  .titulo_actividad {
    font-size: 3.3rem;
    margin-top: 2rem;
    margin-bottom: 0;
    display: flex;
    justify-content: center; }
  .img_actividades {
    width: 100%; } }

/*                      ---------------------------                     */
#contenidosup {
  margin-top: 3rem; }

.TODO {
  display: grid;
  grid-template-areas: "sele dos" "sele dos";
  grid-template-columns: 20% 80%;
  grid-template-rows: auto 100vh;
  background-color: rgba(90, 184, 238, 0.118);
  border: solid .2rem; }
  .TODO #tarjetas {
    grid-area: dos;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: space-around;
    column-gap: 2rem;
    row-gap: 4rem;
    margin: auto;
    margin-top: 5rem; }
    .TODO #tarjetas .tarjeta {
      display: flex;
      flex-direction: column;
      background-color: white;
      text-align: center; }
      .TODO #tarjetas .tarjeta h2 {
        font-size: 3.3rem; }
      .TODO #tarjetas .tarjeta button {
        font-size: 2.2rem;
        border: none; }

input[type=radio] {
  display: none; }

.labels {
  grid-area: sele;
  border-right: solid .2rem;
  display: flex;
  flex-direction: column;
  font-size: 3.3rem;
  text-align: center;
  row-gap: 2rem; }
  .labels label {
    cursor: pointer;
    color: aliceblue; }
  .labels label:hover {
    background-color: rgba(255, 255, 255, 0.441); }
  .labels h2 {
    font-size: 3.3rem;
    color: aliceblue;
    background-color: rgba(90, 184, 238, 0.183);
    padding: 1rem;
    border-bottom: solid .2rem black; }

[value="pro"]:checked ~ #tarjetas > div:not(.card_proteina) {
  display: none; }

[value="crea"]:checked ~ #tarjetas > div:not(.card_creatina) {
  display: none; }

[value="bcaa"]:checked ~ #tarjetas > div:not(.card_bcaa) {
  display: none; }

@media screen and (max-width: 1550px) {
  .TODO #tarjetas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin: 0rem;
    margin-top: 1.5rem;
    column-gap: 10rem; } }

@media screen and (max-width: 767px) {
  .TODO {
    grid-template-columns: 30% 70%; }
    .TODO #tarjetas {
      display: flex;
      flex-direction: column;
      margin: 1.5rem; }
      .TODO #tarjetas div img {
        width: calc( 25rem + 10rem); }
    .TODO .labels {
      font-size: 2.2rem; }
    .TODO h2 {
      font-size: 2.2rem; } }

@media screen and (max-width: 560px) {
  .TODO #tarjetas .tarjeta {
    background-color: white;
    text-align: center; }
    .TODO #tarjetas .tarjeta h2 {
      font-size: 2.2rem; }
    .TODO #tarjetas .tarjeta button {
      font-size: 1.4rem; }
  .TODO #tarjetas .labels {
    font-size: 1.4rem; }
  .TODO #tarjetas h2 {
    font-size: 1.4rem; } }

/*           footer           */
footer {
  text-align: center;
  padding: 1.5rem 1.5rem;
  font-size: 1.4rem;
  color: #bdcad4; }

.footer_index {
  text-align: center;
  padding-top: 15rem; }
