/*--------------------PRESENTACION OTRAS PAGS--------------------*/

.cabecera_pag {
    display: grid;
    grid-template-areas:
    "gem . "
    "eslogan  nombre";
    grid-template-columns: 1fr  1fr;
    width: 100%;
    
    h1{
      grid-area: gem;
      font-size: $fuente-l;
      color: #1cb056;
    }

    p{
      font-size: $fuente-m;
      color: #119cd3;
      grid-area: eslogan;
      transform: translatex(10%);
    }

    h2{
      font-size: $fuente-l;
      grid-area: nombre;
      color:rgb(255, 255, 255);
      font-weight: bold;
      justify-self: right;
    }
}

/*                       Media screen            Cabecera Pags                  */

@media screen and (max-width: 767px) {

  .cabecera_pag{
    h2{
      font-size: $fuente-m;
     }
    h1{
      font-size: $fuente-l;
    }
    p{
      font-size: $fuente-s;
    }
  }
}
/*                      ---------------------------                     */ 