/*--------------------Galeria--------------------*/

.galeria_img  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 3rem;
    column-gap: 1rem;
    justify-items: center;
    
    img{
     @include ancho-alto(60rem, 40rem);
    }
}


/*                      Media screen             GALERIA                  */
@media screen and (max-width: 1024px) {
    .galeria_img{
     @include ancho-alto (auto, auto);
     column-gap: 1rem;
     margin: 0rem 1rem;
     
     img{
        @include ancho-alto(40rem, 28rem);
       }
    }
}
@media screen and (max-width: 767px) {
    .galeria_img{
      @include flex-column;
      @include center-items;
      margin: 0rem 1rem;
    }
}
/*                        ---------------------------                     */