*{
    box-sizing: border-box;
    padding: 0;
    }  

html {    
   font-size: 62.5%; /*1rem = 10px*/
   font-family: $fuente-global;
   background-image: $bg-image;    
   background-blend-mode:hard-light;
   background-color: $bg-color;
    }

ul{
 list-style: none;
    }

li{
 text-decoration: none;  
    }

a{
 text-decoration: none;
    }

img{
    max-width: 100%;
    }


