/*--------------------INDEX / HOME--------------------*/

.eslogan {
    display: grid;
    grid-template-columns: 1.3fr 2fr ;
    grid-template-rows:  0.1fr 1fr;
    grid-template-areas: 
    "nombre imagen"
    "eslogan imagen";
    background-color: rgba(0, 0, 0, 0.247);
    padding: 5rem 0rem;
 
    h1 {                       /*GemGym */
     font-size: $fuente-xl;
     color: #1cb056;
     grid-area: nombre;
     margin-left: 3rem;
    }
 
    h2 {                       /*Encontramos tu valor*/
     font-size: $fuente-m;
     color: #119cd3;
     grid-area: eslogan;
     margin-left: 6rem;
    }
 
  img {                       /*frase motivadora*/
     border: solid 0.2rem ;
     grid-area: imagen;
    }
 }

 .descripcion_p {
     @include flex-column;
     color: rgb(189, 202, 212);
     margin: 8rem 30rem;
     text-align: center;
     gap: 5em;
     }
 
 .descripcion_p1 {                     /*parrafo largo abajo de la imagen*/
     font-size: $fuente-s;
     }
 
 .descripcion_p2 {                      /*parrafo para inscribirse*/
     font-size: $fuente-s;
     font-weight: bolder;
     }
 
 .descripcion_img {                     /* Div Imagenes y Subtitulos*/
     margin-top: 10rem;
     display: grid;
     grid-template-areas: 
     "cardio staff prensa";
     justify-items: center;
     row-gap: 1rem;
     column-gap: 0.8rem;
     margin: 0rem 1rem;
     color: rgb(189, 202, 212);
    
    img {                /*imagenes de los sectores*/
     @include ancho-alto(100%, 100%);
     border: solid 0.2rem black;
    }
    
    p {
     text-align: center;
     font-size: $fuente-s;
    }
}

.staff{
 grid-area:staff;
    }

.cardio{
 grid-area:cardio;
    }

.prensa{
 grid-area:prensa;
    }
 
 
 
 
 
/*                       Media screen            INDEX                  */
@media screen and (max-width: 1024px){

  .eslogan{
     @include flex-column;
     align-items: center;
     width: 100%;

    h1 {                       /*GemGym */
     font-size: $fuente-m;
     color: #1cb056;
     grid-area: nombre;
        }
    
     h2 {                       /*Encontramos tu valor*/
     font-size: $fuente-m;
     color: #119cd3;
     grid-area: eslogan;
        }
    }
 
  .index_hr{
     margin: 0rem;
     width: 100%;
     }

  .descripcion {
     @include flex-column;
     text-align: center;
     }

  .descripcion_p {
     margin: 7rem 3rem;
    }

  .descripcion_img{
    display: grid;
    grid-template-areas:
    "staff prensa"
    "cardio cardio";
    grid-template-rows: repeat(2, 400px);
    
    div img {
     @include ancho-alto(90%,90%);
    }

    div p {
     font-size: $fuente-s;
     margin-bottom: 8rem;
    }
   }

  .staff {
     grid-area:staff;
     max-height: 30rem;
    }

  .prensa {
     grid-area:prensa;
     max-height: 30rem;
    }

  .cardio {
     grid-area:cardio;
     max-width: 60rem;
    }
   }



   
@media screen and (max-width: 767px) {


  .eslogan{
     @include flex-column;
     align-items:flex-start;
    
   h1{
     font-size: $fuente-l;
     margin-bottom: 0.2rem;
    }

   h2{
     margin-bottom: 2rem;
     font-size: $fuente-m;
    }
   }

    .descripcion_p {
     margin: 6rem 3rem;
    }

    .descripcion_p1, .descripcion_p2{
     font-size: $fuente-s;
    }

    .descripcion_img{
     @include flex-column;
     margin-top: 3rem;
     @include center-items;
     row-gap: 3rem;
    
     div{ 
        img{
         max-width: 50rem;}
         
        p{
         margin-bottom: 3rem;
         font-size: $fuente-s;
         margin-bottom: 1rem;}
       }
   }
}
/*                      ---------------------------                     */ 