/*--------------------INGRESAR--------------------*/

#form_section {
    margin-top: 18rem;
    display: grid;
    grid-template-areas: 
    "none form none"
}
    
 .form {               /*  DIV DEL FORM    */
    grid-area: form;
    @include ancho-alto(50rem,40rem);
    border: solid #119cd3 .2rem;
    background-color: #1d363f;
    border-radius: 2rem;
 
    
    form {           /*  FORMULARIO    */
     @include flex-column;
     row-gap: .7rem;
     align-items: center;
    }

     p {              /*  INICIAR SESION     */
     text-align: center;
     font-size: $fuente-m;
     margin: 3rem 0rem;     
     color: #158140;
     font-weight: bolder;
    }
    
    input{            /*  INGRESAR DATOS, FORM     */
     width: 90%;
     padding: 1rem;
     background:none;
     font-size: $fuente-s;
     border: solid;
     border-color: #119cd3;
     border-radius: .7rem;
     color: #119cd3;
    }
}


#enviarForm {            /*  BOTON INGRESAR     */
    margin-top: 1.4rem;
    background-color: #0b6285;
    border: hidden;
    color: black;
    }








    /*                      Media screen               CUENTA                */
@media screen and (max-width:524px){
    #form_section{
        justify-content: center;
    }
    .form{
      @include ancho-alto(35rem, auto);
    }
}
/*                       ---------------------------                     */