/*--------------------Sedes--------------------*/

#mapas {
    @include flex-column;
    row-gap: 10rem;
    }

.info_mapa {
    width: 100%;
    margin-top: 2rem;
    display: grid;
    grid-template-areas:
    "info mapa";
    border-top: solid 1px rgb(93, 190, 185);
    border-bottom: solid 1px rgb(93, 190, 185);
    grid-template-columns: 1fr 2fr ;
    @include center-items;
    background-color: rgba(255, 255, 255, 0.089);
    }

.iframe_mapa {
    grid-area: mapa;
    @include ancho-alto(67rem, 38rem);
    border-radius: 1rem;
    margin: 1rem 15rem 1rem 0rem;
    justify-self: right;
    }

.ul_mapa {
    grid-area: info;
    color: white;
    
    li {
        margin-left: 5rem;
        font-size: $fuente-s;
    }

    li:not(:last-of-type) {
        margin-bottom: 2rem ;
    }

    h2 {
        font-size: $fuente-l;
    }
}




/*                   Media screen               SEDES                */
@media screen and (max-width:1380px){
        .iframe_mapa{
            margin: 1rem 2rem;
        }
    }
@media screen and (max-width:1115px){
    
        .ul_mapa li{
            margin: 0;
            margin-left: 2rem;
            h2{
             font-size: $fuente-m;
             margin-bottom: 3rem;    
            }    
          }  
    
        .iframe_mapa{
            @include ancho-alto(47rem, 23rem);
            margin: 0;
            margin-right: 1rem;
          }
    }

@media screen and (max-width:767px){
      
    .ul_mapa{
        li{
            font-size: $fuente-xs;
            margin: .5rem;
        }  
        h2{
            font-size: $fuente-s;
        } 
    }
    
    .iframe_mapa{
        @include ancho-alto(37rem, 20rem);
        margin: 0;
    }    
}

@media screen and (max-width:630px){ 
    .info_mapa{
        @include flex-column;
        justify-items: center;
        text-align: center;
    }
    
    .ul_mapa li{ 
        margin: .1rem;
    }

  .iframe_mapa{
        width: 80%;
        margin: 0rem auto;
        margin-bottom: 1rem;
    }
}
    /*                       ---------------------------                    */